* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', monospace, Courier;
}

.home,
.Nicoperez12,
.TTrincado,
.Projects,
.ToryFuyu,
.Vidal,
.FlappyBirdAI,
.Nito,
.Tory,
.Fuyu,
.InstagramUnfollowers,
.Mandala {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.InstagramUnfollowers {
  background-image: url('../src/images/instagram_blacklogo.png');
}

.Nicoperez12 {
  background-image: url('../src/images/img-2.jpg');
}

.TTrincado {
  background-image: url('../src/images/img-1.jpg');
}

.Projects {
  background-image: url('../src/images/img-8.jpg');
}

.ToryFuyu {
  background-image: url('../src/images/tory_fuyu.jpg');
}

.Vidal {
  background-image: url('../src/images/vidal-2.jpg');
}

.FlappyBirdAI {
  background-image: url('../src/images/flappy_bird.jpg');
}

.Tory {
  background-image: url('../src/images/tory-feo.jpg');
}

.Fuyu {
  background-image: url('../src/images/fuyu2.jpeg');
}

.Mandala {
  /*background-image: url('../src/images/flappy_bird.jpg');*/
  margin-top: -250px;
  color: black;
}